*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    height: 100%;
    background-color: rgba(0, 0, 161, 0.089);
}
body{
    height: 100%;
}

#panelManuais{
    display: flex;
    flex-direction: column;
    padding: 20px 10%;
}

#titulo{
    padding: 20px 0;
    text-align: center;
    font-size: 140%;
    color: cadetblue;
}

#titulo>h2:hover{
    transition: 0.5s;
    transform: scale(1.1);

}
#conteudo{
    color: black;
    text-align: left;
    /* overflow: hidden; */
    /* height: 20px; */
}

#campos{
    /* background-color: blueviolet; */
    overflow: hidden;
    height: 177px;
}
#pesquisa>#search{
    width: 50%;
    padding: 7px 10px;
}

#pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    gap: 5px;
}

#button{
    width: 100px;
    height: 50px;
}

table{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 0px 6px;
}

tr{
    padding: 15px 0;
    border-right: 1px solid black;
}

img{
    display: none;
}