*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    background: linear-gradient(180grad, #3BDAF7, #33D6C3);
    height: 6%;
}

#itensDire{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: 120%;
    color: black;
}

#exit{
    color: black;
}

/*Estiliza Iframe*/

#iframe{
    position: absolute;
    display: none;
    background-color: darkgrey;
    border: none;
}
/**/


#users{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    gap: 2%;
}
body{
    height: 100vh;
}
section{
    height: 100%;
    width: 100%;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.295);
}
#main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 15px;
    padding: 25px 5%;
    background-color: gray;
    position: relative;
}

#novaTarefa{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 0 6px 1px black;
    background-color: #188a3a;
    width: 20%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#novaTarefa:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

#tabela{
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#cabecario{
    text-align: center;
    padding: 15px 0;
    background-color: rgb(39, 130, 160);
}

th{
    padding: 8px 0;
}

td{
    padding: 15px 0;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#finalizar:hover{
    color: green;
    font-weight: bold;
}
#editar:hover{
    color: rgb(184, 165, 0);
    font-weight: bold;
}
#excluir:hover{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#paginacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#paginacao > a{
    background-color: cadetblue;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}