{% load static %}
<!DOCTYPE html>
<html lang="pr_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="{% static 'css/manuaisStyle.css' %}">
</head>

<body>
    <form action="">
        <div id="pesquisa">
            <input type="search" name="search" id="search">
            <button type="submit" id="button">Buscar</button>
        </div>
        <section id="panelManuais">
            {% for manua in manuais %}
            <a href="{% url 'manual' manua.id %}">
                <div id="campos">
                    <div id="titulo">
                        <h2>{{manua.titulo}}</h2>
                    </div>

                    <div id="conteudo">
                        {{manua.conteudo|safe}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>

    </form>

</body>

</html>