{% load static %}
<!DOCTYPE html>
<html lang="pr_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Manual</title>
    <link rel="stylesheet" href="{% static 'css/manualStyle.css' %}">
</head>
<body>
    <form id="formulario" action="{% url 'manual' manuals.id %}" method="GET"> {% csrf_token %}
        <fieldset id="titulo">
            <legend>Manual</legend>
            <h3>{{manuals.titulo}}</h3>
        </fieldset>
        <fieldset id="conteudo">
            <legend>Conteudo</legend>
            <div>{{manuals.conteudo|safe}}</div>
        </fieldset>
    </form>
    
</body>
</html>