<!DOCTYPE html>
<html lang="pr_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Manual</title>
</head>
<body>
    <form action="{% url 'manual' manuals.id %}" method="GET"> {% csrf_token %}
        <fieldset>
            <legend>Titulo</legend>
            <h3>{{manuals.titulo}}</h3>
        </fieldset>
        <fieldset>
            <legend>Conteudo</legend>
            <div>{{manuals.conteudo|safe}}</div>
        </fieldset>
        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>