{% load static %}
<!DOCTYPE html>
<html lang="pr_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>

<body>
    <form action="">
        <input type="search" name="search" id="search">
        <button type="submit" id="button-addon1">Buscar</button>
        {% for manua in manuais %}
            <div style="border: 1px solid black; margin-top: 50px;">
                <fieldset>
                    <legend>Titulo</legend>
                    <a href="{% url 'manual' manua.id %}">
                        <h3>{{manua.titulo}}</h3> 
                    {% comment %} <h3>{{manua.titulo}}</h3> {% endcomment %}
                    </a>
                </fieldset>
                <fieldset>
                    <legend>Conteudo</legend>
                    <div>{{manua.conteudo|safe}}</div>
                </fieldset>
                {% comment %} <!-- <fieldset>
                <legend>Alterações</legend>
                <a href="">
                    <i id="finalizar" class="fa-solid fa-check">finalizar</i>
                </a>
                <a href="">
                    <i id="editar" class="fa-solid fa-pen-to-square">editar</i>
                </a>

                <a href="">
                    <i id="excluir" class="fa-solid fa-trash-can">excluir</i>
                </a>
            </fieldset> --> {% endcomment %}
            </div>
        {% endfor %}
        </table>

    </form>

</body>

</html>